.sidebar {
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding-block: var(--spacing-300);
  padding-inline: var(--spacing-200);
  transition: width 0.3s;
  width: 4.5rem;
}

.sidebar--open.sidebar {
  width: 16rem;
}

.sidebar__content {
  --flow-space: var(--spacing-300);
}

.sidebar__toggle-btn {
  background: transparent;
  border: 0;
  color: var(--clr-white);
  cursor: pointer;
}

.sidebar__link {
  color: var(--clr-white);
  transition: all 0.3s ease;
}
